{% set root = get_section(path="_index.md") %}
{% set logo = resize_image(path="logo.png", width=75, height=75, op="fit") %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property='og:type' content='article' />

    <title>{{ config.title }} – {{ config.description }}</title>

    <meta name="title" content="{{ config.title }}" />
    <meta name="DCTERMS.title" content="{{ config.title }}" />
    <meta property="og:title" content="{{ config.title }}" />

    <meta name="description" content="{{ config.description }}">
    <meta name="DCTERMS.description" content="{{ config.description }}">
    <meta property="og:description" content="{{ config.description }}" />

    <link rel="shortcut icon" href="{{ get_url(path="logo.ico") }}" />
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="style.css") }}" />
    <script type="text/javascript" src="{{ get_url(path="style.js") }}" defer></script>
  </head>
  <body>
    <header>
      <div>
        <a href="{{ config.base_url }}">
          <img
            alt="Page Logo"
            src="{{ logo.url }}"
            width="{{ logo.width }}"
            height="{{ logo.height }}"
          />
          {{ config.extra.logo_title }}
        </a>
      </div>
    </header>
    <nav id="nav">
      <input id="nav-checkbox" type="checkbox" />
      <div id="nav-container">
        <label id="nav-button" for="nav-checkbox">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </label>
{% if current_path and current_path == root.path %}
        <a href="{{ root.permalink }}" class="nav-active">{{ root.title }}</a>
{% else %}
        <a href="{{ root.permalink }}">{{ root.title }}</a>
{% endif %}

{% for page in root.pages %}
{% if current_path and current_path == page.path %}
        <a href="{{ page.permalink }}" class="nav-active">{{ page.title }}</a>
{% else %}
        <a href="{{ page.permalink }}">{{ page.title }}</a>
{% endif %}
{% endfor %}
      </div>
      <div id="nav-menu">
        <ul>
          <li><a href="{{ root.permalink }}">{{ root.title }}</a></li>
{% for page in root.pages %}
          <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
{% endfor %}
        </ul>
      </div>
    </nav>
    <main>
      {% block main %}
      {% endblock main %}
    </main>
    <footer>
      {% block footer %}
      {% endblock footer %}
    </footer>
  </body>
</html>
